<div class="row">

  <div id="main">
    <%= render @images %>
  </div>

  <% if @images.size > 9 %>
    <div class="row clearfix">
      <br><br>
      <div class="center-align">
        <button class="btn waves-effect waves-light" type="button" id="load-more">Load more</button>
        <%= render "layouts/spinner" %>
      </div>
    </div>
  <% end %>

</div>