<footer class="page-footer">
 <!--  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">iPhotoShare</h5>
        <p class="white-text text-lighten-1">Made by team</p>
      </div>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright, All Rights Reserved.
    </div>
  </div>
</footer>