<div class="col m2">
	<ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">image</i>Manage Images</div>
            <div class="collapsible-body">
                <p><%= link_to "Show images", admin_images_path %></p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">account_circle</i>Manage Users</div>
            <div class="collapsible-body">
                <p><%= link_to "Show users", admin_users_path %></p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">comment</i>Manage Comments</div>
            <div class="collapsible-body">
                <p><%= link_to "Show comments", admin_comments_path %></p>
            </div>
        </li>
    </ul>
</div>